@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  @apply w-full max-w-[1280px] m-auto px-5 sm:px-[clamp(20px,8.55px+3.053vw,32px)];
}

.products {
  @apply grid grid-cols-[repeat(auto-fill,minmax(335px,1fr))] justify-items-center gap-y-[19px] md:gap-x-5 md:gap-y-[17px] lg:gap-x-6 lg:gap-y-[23px]
}
